* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --county-green: #285c4c;
}
body {
    font-family: "Open Sans";
    height: 100vh;
    padding: 30px 100px 0 100px;
    border-top: 40px solid var(--county-green);
}

#constests {
    margin-bottom: 30px;
}

/* HEADER */
header {
    margin-bottom: 40px;
    border-bottom: 3px solid var(--county-green);
}
header h1 {
    font-size: 40px;
    margin-bottom: 10px;
}
header p {
    font-size: 30px;
    display: inline-block;
    margin: 0 20px 10px 0;
}

/* CONTEST */
.contest {
    font-size: 30px;
}
.contest h2 {
    font-size: 30px;
    margin-bottom: 30px;
}
.contest p {
    margin-bottom: 20px;
}
.contest table {
    border: solid black 3px;
}

.contest table:last-of-type tr:last-of-type td {
    font-weight: bold;
}

table,
tr,
td,
th {
    outline: 1px solid rgba(0, 0, 0, 0.3);
}

table {
    margin-bottom: 30px;
}

th, td {
    padding: 10px 15px;
    min-width: 40px;
    text-align: center;
}
